body {
  margin: 0;
  backround-color: #ffffff;
  font-family: 'Roboto'; 
}

img {
  max-width: 100%; 
}

.button {
  font-family: 'Roboto Medium';
  outline: none;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid transparent;
  background-color: #ff9d00;
  padding: 13px 22px;
  border-radius: 5px;
}

.button:hover {
  background-color: #fda841;
  cursor: pointer; 
}

.button img {
  vertical-align: middle; 
}

.header {
  padding: 60px 0px 15px 0px;
  background-color: #f4f4f4; 
}

.header__contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center; 
}

.header__contacts__phone {
  color: #373737;
  font-size: 22px;
  margin-right: 23px;
  font-family: 'Roboto Medium';
  outline: none; 
}

.header__contacts__phone:hover {
  color: #ff9d00; 
}

.header__contacts__phones {
  display: flex; 
}

.header-logo {
  background: url(../img/logo.png) center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px; 
}

.hiden-mobile {
  font-size: 14px; 
}

.phone-1 {
  border-right: 1px solid #cfcfd0;
  padding-right: 20px; 
}

.container {
  max-width: 968px; 
}

.main {
  font-family: 'Roboto Medium';
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  height: 530px;
  background: #373737 url(../img/main/main-bg.jpg) center no-repeat;
  color: #ffffff;
  z-index: 1; 
}

.main::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  background-size: cover; 
}

.main-img {
  position: relative;
  width: 480px;
  height: 378px;
  margin-left: -100px; 
}

.main-img::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 380px;
  height: 380px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transform: translateX(100px);
  margin-top: 10px; 
}

.main-text__title {
  font-size: 41px;
  font-weight: 700;
  line-height: 42px;
  margin-top: 0px;
  margin-bottom: 10px; 
}

.main-text__subtitle {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 27px;
  line-height: 42px; 
}

.main-text_form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 15px 27px; 
}

.logo {
  display: inline-block;
  position: relative; 
}

.logo::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 50px;
  margin-left: 130px;
  margin-top: -60px;
  background: transparent url(../img/logo-2.png) no-repeat; 
}

a {
  color: #000;
  text-decoration: none; 
}

.phone-img {
  padding-right: 5px; 
}

.form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px; 
}

.form-title {
  font-family: 'Roboto Light';
  margin-bottom: 20px;
  padding-right: 77px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px; 
}

.form-title_uppercase {
  font-family: 'Roboto Bold';
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: block; 
}

.form__input {
  vertical-align: middle;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  border: none;
  flex-basis: 65%; 
}

.form-small {
  font-family: 'Roboto Light';
  margin-left: 19px;
  font-size: 14px;
  font-weight: 300; 
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.7); 
}

.popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  transform: translateX(-50%); 
}

.popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  color: #ffffff;
  font-weight: 300;
  cursor: pointer; 
}

.popup-title {
  font-family: 'Roboto Medium';
  display: block;
  width: 100%;
  min-height: 71px;
  margin: 0px;
  background-color: #ff9d00;
  line-height: 71px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 500;
  text-align: center; 
}

.popup-form {
  background: url(../img/form-bcg.jpg) center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #ffffff;
}

.popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  text-align: center; 
}

.popup-form__label {
  font-family: 'Roboto Light';
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px; 
}

.popup-form__input {
  border: none;
  padding-left: 18px;
  margin-top: 17px;
  width: 365px;
  height: 56px;
  outline: none;
  border-radius: 5px; 
}

.popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  background-color: #ff9d00; 
}

.popup-form__note {
  font-family: 'Roboto Light';
  margin-top: 9px;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-align: center; 
}

.features {
  background-color: #f4f4f4;
  margin-top: -40px;
  padding-top: 40px;
  padding-bottom: 10px;
}

.numbers {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}

.title-centr {
  margin-right: 38px;
  margin-left: 38px;
}

.numbers-block {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.numbers-block__title {
  margin-bottom: 5px;
  font-size: 36px;
  font-weight: 900;
  color: #f39003;
}

sup {
  font-size: 18px;
}

.numbers-block__text {
  font-size: 16px;
  font-weight: 300;
}

.features-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-block{
  display: flex;
  flex-basis: 32%;
  background-color: #ffffff;
  padding: 28px 10px;
  margin-bottom: 30px;
  align-items: center;
}

.features-block__img {
  flex-basis: 45%;
  margin-right: 9px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.features-block__descr {
  font-size: 14px;
  font-weight: 400;
}

.products {
  padding-top: 30px;
  padding-bottom: 37px;
}

.products-block {
  text-align: center;
  margin-bottom: 35px;
  max-height: 380px;
}

.products-block__img {
  margin-bottom: 19px;
  max-height: 270px;
}

.products-block__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.button-o {
  background-color: transparent;
  color: #373737;
  opacity: 0.5;
  border: 1px solid #373737;
}

.button-o:hover {
  background-color: #ff9d00;
  border: 1px solid transparent;
  cursor: pointer;
}

.products-block__buttons {
  margin-right: 12px;
}
.title-klient {
 margin-top: -50px;
 padding-top: 50px;
}
.section-title {
  font-size: 27px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.section-title::after {
  margin-top: 12px;
  content: '';
  display: block;
  width: 46;
  height: 6px;
  background: url(../img/products/line.png) center no-repeat;
}

.clients-blocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container {
  display:flex-inline;
  filter: grayscale(100%);
  cursor: pointer;
}

.flex-container:hover {
  filter: none;
}

.client-fons {
  display: flex;
  justify-content: center;
  width: 212px;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 33px;
}

.client-img {
  display: flex;
  align-items: center;
}

.production {
  padding-top: 87px;
  padding-bottom: 50px;
}

.production-text {
  margin-top: 15px;
}

.production-text__title {
  width: 432px;
  height: 62px;
  background-color: #ff9d00;
  font-size: 28px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  padding-right: 140px;
  transform: translateX(-12%);
  z-index: -1;
}

.col-7 {
  z-index: 1;
}

.production-text__descr {
  margin-top: 28px;
  font-family: 'Roboto Light';
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: justify;
  color: #373737;
  width: 100%;
  max-width: 379px;
}

.production-slider__top {
  margin-bottom: 13px;
  max-height: 377px;
  overflow-y: hidden;
  z-index: 1;
  object-fit: contain;
}

.production-slider__bottom {
  padding-left: 20px; 
  padding-right: 20px;
  height: 78px;
  overflow-y: hidden;
  outline: none;
}

.production-slider__bottom img {
  margin:0px 6px;
  height: 78px;
  overflow-y: hidden;
  outline: none;
}

.production-slider__top img {
  max-height: 377px;
  min-height: 377px;
  overflow-y: hidden;
}

.slider-arrow {
  position: absolute;
  top: 0;
  height: 100%;
  width: 22px;
}

.slider-arrow__prod {
  border: 1px solid #ff9d00;
}

.slider-arrow__right {
  right: 0;
  background: url(../img/arrow-right.png) center no-repeat;
}

.slider-arrow__left {
  left: 0;
  background: url(../img/arrow-left.png) center no-repeat;
}

.slider-arrow__right:hover {
  right: 0;
  background: #ff9d00 url(../img/arrow-right__active.png) center no-repeat;
}

.slider-arrow__left:hover {
  left: 0;
  background: #ff9d00 url(../img/arrow-left__active.png) center no-repeat;
}

.slider-arrow__feedback__left {
  background: url(../img/feedback/feedback-left.png) center no-repeat;
  z-index: 1;
  left: -30px;
  height: 47px;
  top: 43%;
  
}

.slider-arrow__feedback__left:hover {
  left: -30px;
  z-index: 1;
  background: url(../img/feedback/34.png) center no-repeat;
  height: 47px;
  top: 43%;
    
}

.slider-arrow__feedback__right {
  background: url(../img/feedback/feedback-right.png) center no-repeat;
  right: 0;
}

.slider-arrow__feedback__right:hover {
  background: url(../img/feedback/35.png) center no-repeat;
  right: 0;
}

.slider-arrow:hover {
  cursor: pointer;
}

.feedback {
  padding-top: 55px;
  padding-bottom: 66px;
  background-color: #f4f4f4;
}

.feedback-slider{
  outline: none;
}
.feedback-slider img {
  margin: 0 auto;
  outline: none;
  height: 350px;
  overflow-y: hidden;
}

.feedback-slider__item{
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 274px;
  margin-right: 30px;
}

.offer {
  height: 409px;
  position: relative;
  padding-top: 30px;
  
  color: #ffffff;
  background: grey url(../img/offer/offer-bg.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;
  text-align: center;
}

.offer::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  background-size: cover; 
  z-index: -1;
}

.offer-title{
  font-size: 32px;
  font-weight: 400;
}

.offer-title__small {
  font-size: 26px;
  display: block;
}

.offer-form__label {
  font-size: 20px;
  font-weight: 300;
  display: block;
  margin-bottom: 17px;
}

.offer-form__input {
  display: block;
  margin: auto;
  margin-bottom: 12px;
  vertical-align: middle;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  border: none;
  width: 100%;
  max-width: 365px;
  text-align: center;  
}

.offer-form__botton {
  margin-bottom: 9px;
  width: 180px;
  height: 56px;
}

.menu-link {
  display: none;
}

/* Затемнение слайдера*/
.production-slider__bottom img  {
  -webkit-filter: brightness(50%);
}

.production-slider__bottom .slick-current {
  -webkit-filter: brightness(100%);
}
/* Меню header*/
.header-menu{
  width: 100vw;
  text-align: center;
  position: fixed;
  background-color: #373737;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
  z-index: 500;
}

.menu-companent{
  display: inline-block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  padding: 0px 13px;
  border-right: 1px dotted #fff;
  margin: 0;
  height: 25px;
}


.menu-link__header{
  text-decoration:none;
  outline: none;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-link__header:hover{
  color: #ff9d00;
}
.the-end__block {
  border-right: none;
}

/* Бургер меню*/
.menu-link {
  display: none;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.4);
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 22;
}

.menu-span, .menu-span:before, .menu-span:after {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #333;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
}

.menu-span:before {
  transition: all 0,2s;
  content: '';
  margin-top: -6px;
}

.menu-span:after {
  transition: all 0,2s;
  content: '';
  margin-top: 4px;
}

.menu-link__active span {
  background-color: transparent;
}

.menu-link__active span:before {
  transform: rotate(135deg);
  margin-top: 0;
}

.menu-link__active span:after {
  transform: rotate(-135deg);
  margin-top: 0;
}

.menu {
  background-color: purple;
  position: fixed;
  opacity: 0.9;
  width: 100vw;
  height: 100vw;
  z-index: 20;
  display: flex;
  justify-content: center;
  left: -100vw;
  transition: all 1,2s;
  padding-top: 10%;
  
}

.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu li {
  width: 100vw;
}

.menu a {
  display: block;
  width: 100%;
  line-height: 4;
  color: #fff;
  font-weight: 100;
  letter-spacing: 5px;
  transition: all 0,2s;
}

.menu a:hover {
  display: block;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.4);
  text-decoration: none;
  
}

.menu_active {
  left: 0;
}

.contacts {
  position: relative;
  
}

.contacts-block {
  z-index: 5;
  position: absolute;
  left: 1%;
  margin-top: 5%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 50px;
}

.contacts-block__title {
  display: inline-block;
  font-family: "Roboto Medium";
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: 8px;
}

.contacts-block__text {
  margin-bottom: 10px;
}

.map {
  width: 100%;
  height: 550px;
}
.map-icon {
  margin-right: 10px;

}

.map-title {
  transform: translateX(25%);
}
.map-title__text {
  transform: translateX(14%);
}
.footer {
  width: 100%;
  height: 88px;
  background-image: url(../img/footer-fone.jpg);
}

.footer-text {
  display: flex;
  justify-content: center;
  padding-top: 36px;
  opacity: 0.5;
  color: #ffffff;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  line-height: 17px;
}

.map-hove:hover {
  color: #ff9d00;
  cursor: pointer;
}
.map-contact {
  display: none;
}
.map-hovr {
  transform: translateX(16%);
}


@media (min-width: 992px ) and (max-width: 1200px) {

.cold {
  margin-top: 90px;
  max-width: 75%;
  transform: translateX(120px);
}

.main-img::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 330px;
  height: 330px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  transform: translateX(155px);
  margin-top: 80px;
}

.logo::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 50px;
  margin-left: -150px;
  margin-top: -34px;
  background: transparent url(../img/logo-2.png) no-repeat; 
}

.features {
  background-color: #f4f4f4;
  padding-top: 30px;
  padding-bottom: 35px;
}

.numbers {
  text-align: center;
  margin-bottom: 25px;
}

.title-centr {
  margin-right: 20px;
  margin-left: 20px;
}

.numbers-block{
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.numbers-block__title {
  margin-bottom: 10px;
  color: #f39003;
}

.numbers-block__text {
  font-weight: 300;
} 

.features-blocks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-block {
  display: flex;
  background-color: #ffffff;
  padding: 28px 10px;
  margin-bottom: 30px;
  align-items: center;
}

.features-block__img {
  flex-basis: 50%;
  margin-right: 7px;
}

.features-block__title {
  margin-bottom: 5px;
}

.features-block__descr {
  font-weight: 400;
}

.products {
  padding-top: 30px;
  padding-bottom: 20px;
}
      
.products-block {
  text-align: center;
  margin-bottom: 20px;
}

.products-block__img {
  margin-bottom: 19px;
  max-height: 240px;
}

.products-block__title {
  margin-bottom: 15px;
}

.button-o {
  background-color: transparent;
  color: #373737;
  opacity: 0.5;
  border: 1px solid #373737;
}

.button-o:hover {
  background-color: #ff9d00;
  border: 1px solid transparent;
  cursor: pointer;
}

.products-block__buttons {
   margin-right: 12px;
}

.section-title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.section-title::after {
  margin-top: 10px;
  content: '';
  display: block;
  width: 46;
  height: 6px;
  background: url(../img/products/line.png) center no-repeat;
}

.clients-blocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container {
  display:flex-inline;
}

.client-fons {
  display: flex;
  justify-content: center;
  width: 212px;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.client-img {
  display: flex;
  align-items: center;
}

}

@media (min-width: 768px) and (max-width: 992px) {
.header-menu{
  display: none;
}  
.header {
  padding-top: 25px;
}

.header__contacts__phone:hover {
  color: #ff9d00;
}

.header__contacts__button:hover {
  background-color: #fda841;
}

.hiden-mobile {
  display: none;
}

.header__contacts__phones {
  flex-direction: column;
}
   
.header__contacts__phone {
  border: none;
}

.main {
  text-align: center;
  padding-top: 37px;
  height: 450px;
}

.main-text {
  display: inline-block;
  
}

.form-title {
  padding: 0px;
}

.header__contacts__button {
  display: inline-block;
  padding: 6px;
  width: 180px;
  height: 46px;
}

.form__input {
  flex-basis: 60%;
  transform: translate(15px,0);
  padding-left: 10px;
}

.button_big {
  transform: translate(-15px,0);
}

.iphone {
  line-height: 14px;
  font-size: 14px;
}

.popup-form__input {
  padding-left: 20px;
}

.main-text__title {
  font-size: 35px;
}

.main-text_form {
  display: inline-block;
  width: 650px;
}

.form-small {
  margin-left: 0px;
}

.features {
  background-color: #f4f4f4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.numbers {
  text-align: center;
  margin-bottom: 15px;
}

.title-centr {
  margin-right: 20px;
  margin-left: 20px;
}

.numbers-block {
  margin: 0 auto;
  display: block;
  width: 80%;
  vertical-align: top;
  margin-bottom: 30px;
}

.numbers-block__title {
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 900;
  color: #f39003;
}

sup {
  font-size: 12px;
}

.numbers-block__text {
  font-size: 16px;
  font-weight: 300;
} 

.features-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features-block{
  display: flex;
  flex-basis: 45%;
  background-color: #ffffff;
  padding: 28px 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.features-block__img {
  flex-basis: 40%;
  margin-right: 5px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.features-block__descr {
  font-size: 14px;
  font-weight: 400;
}

.products {
  padding-top: 30px;
  padding-bottom: 20px;
}

.products-block {
  text-align: center;
  margin-bottom: 20px;
}

.products-block__img {
  margin-bottom: 19px;
  max-height: 178px;
  max-width: 270px;
}

.products-block__title {
  font-weight: 700;
  margin-bottom: 15px;
}
.title-hard{
  margin-top: 10px;
  margin-bottom: 29px;
}
.button-o {
  background-color: transparent;
  color: #373737;
  opacity: 0.5;
  border: 1px solid #373737;
}

.button-o:hover {
  background-color: #ff9d00;
  border: 1px solid transparent;
  cursor: pointer;
}
.production-slider__top img {
  max-height: 300px;
  min-height: 300px;
  overflow-y: hidden;
}

.production-slider__bottom {
  margin-top: 20px;
}
}

@media (min-width: 992px ) and (max-width: 1200px) {

.menu-link__header{
  text-decoration:none;
  outline: none;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-companent{
  display: inline-block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  text-transform: uppercase;
  padding: 0px 18px;
  border-right: 1px dotted #fff;
  margin: 0;
  height: 25px;
}

.the-end__block {
   border-right: none;
}
.main-img {
    position: relative;
    width: 400px;
    height: 378px;
    margin-left: -5px;
    transform: translateY(28px);
}

.main-img::before {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    transform: translateX(51px);
    opacity: 0.3;
    
}

}
@media (min-width: 768px) and (max-width: 992px) {
  .menu-link {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.4);
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 22;
  }

  .menu-span, .menu-span:before, .menu-span:after {
    display: block;
    height: 2px;
    width: 18px;
    background-color: #333;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
  }

  .menu-span:before {
    transition: all 0,2s;
    content: '';
    margin-top: -6px;
  }

  .menu-span:after {
    transition: all 0,2s;
    content: '';
    margin-top: 4px;
  }

  .menu-link__active span {
    background-color: transparent;
  }

  .menu-link__active span:before {
    transform: rotate(135deg);
    margin-top: 0;
  }

  .menu-link__active span:after {
    transform: rotate(-135deg);
    margin-top: 0;
  }

  .menu {
    background-color: purple;
    position: fixed;
    opacity: 0.9;
    width: 100vw;
    height: 100vw;
    z-index: 20;
    display: flex;
    justify-content: center;
    left: -100vw;
    transition: all 1,2s;
    padding-top: 10%;
    
  }

  .menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .menu li {
    width: 100vw;
  }

  .menu a {
    display: block;
    width: 100%;
    line-height: 4;
    color: #fff;
    font-weight: 100;
    letter-spacing: 5px;
    transition: all 0,2s;
  }

  .menu a:hover {
    display: block;
    width: 100vw;
    background-color: rgb(255, 255, 255, 0.4);
    text-decoration: none;
    
  }

  .menu_active {
    left: 0;
    background-color: #ff9d00;
  }
}
  @media (min-width: 768px) and (max-width: 992px) {  
.products-block__buttons {
  margin-right: 12px;
  font-size: 10px;
}

.button-min {
  font-size: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.section-title::after {
  margin-top: 10px;
  content: '';
  display: block;
  width: 46;
  height: 6px;
  background: url(../img/products/line.png) center no-repeat;
}

.col-6 {
  text-align: center;
}

.container-min {
  width: 700px;
}

.clients-blocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container {
  display:flex-inline;
}

.client-fons {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.client-img {
  display: flex;
  align-items: center;
}

.container {
  max-width: 720px; 
}

.button:hover {
  background-color: none;
  cursor: pointer;
}

.header__contacts__phone:hover {
  color: none; 
}

.logo::after {
  content: "";
  position: none;
  width: 0;
  height: 0;
  margin-left: 0;
  margin-top: 0;
  background: none;
}

.button-o:hover {
  background-color: none;
  border: none;
  cursor: pointer;
}

.section-title::after {
  margin-top: 0px;
  content: '';
  display: none;
  width: 0px;
  height: 0px;
  background: none;
}

.flex-container {
  display:flex-inline;
  filter: grayscale(0%);
}

.flex-container:hover {
  filter: none;
}  
.production-text__title {
  width: 320px;
  height: 62px;
  padding-right: 35px;
}
.production-slider__top {
  margin-bottom: -10px;
}
.production-slider__bottom img {
  margin: 0px 3px;
}

.production-text__descr {
    font-size: 14px;
    line-height: 19px;
    
}

.header-logo {
  margin-left: 50px;
}

.contacts-block {
  position: absolute;
  left: 1%;
  margin-top: 8%;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 45px;
}

.contacts-block__text {
  margin-bottom: 10px;
}

} 
@media (min-width: 576px) and (max-width: 768px) {
.menu-link {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.4);
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 22;
}

.header-logo {
  margin-left: 65px;
  margin-top: -20px;
}
  .menu-span, .menu-span:before, .menu-span:after {
    display: block;
    height: 2px;
    width: 18px;
    background-color: #333;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
  }

  .menu-span:before {
    transition: all 0,2s;
    content: '';
    margin-top: -6px;
  }

  .menu-span:after {
    transition: all 0,2s;
    content: '';
    margin-top: 4px;
  }

  .menu-link__active span {
    background-color: transparent;
  }

  .menu-link__active span:before {
    transform: rotate(135deg);
    margin-top: 0;
  }

  .menu-link__active span:after {
    transform: rotate(-135deg);
    margin-top: 0;
  }

  .menu {
    background-color: purple;
    position: fixed;
    opacity: 0.9;
    width: 100vw;
    height: 100vw;
    z-index: 20;
    display: flex;
    justify-content: center;
    left: -100vw;
    transition: all 1,2s;
    padding-top: 10%;
    
  }

  .menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .menu li {
    width: 100vw;
  }

  .menu a {
    display: block;
    width: 100%;
    line-height: 4;
    color: #fff;
    font-weight: 100;
    letter-spacing: 5px;
    transition: all 0,2s;
  }

  .menu a:hover {
    display: block;
    width: 100vw;
    background-color: rgb(255, 255, 255, 0.4);
    text-decoration: none;
    
  }

  .menu_active {
    left: 0;
    background-color: #ff9d00;
  }
}
@media (min-width: 576px ) and (max-width: 768px) {
.header-menu{
  display: none;
}  

.header {
  margin: 0;
  padding: 8px 0px 8px 0px;
  padding-top: 25px;
}

.header__contacts__phones {
  flex-direction: column;
}

.header__contacts__phone {
  border: none;
  font-size: 16px;
}
.header__contacts__phone:hover {
  color: #ff9d00;
}

.phone-1 {
  padding-right: 0;
}

.hiden-mobile {
  display: none;
}

.hiden-mobiles {
  display: none;
}

.header__contacts__button:hover {
  background-color: #fda841;
  cursor: pointer;
}

.header__contacts__phones {
  flex-direction: column;
}

.main {
  text-align: center;
  padding-top: 37px;
  height: 450px;
}

.main-text {
  display: inline-block;
}

.main-text__title {
  font-size: 25px;
  color: #ff9d00;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 55px;
}

.main-text__subtitle {
  font-size: 22px;
  line-height: 18px;
  margin-bottom: 20px;
}

.main-text_form {
  background-color: transparent;
  padding: 0;
  display: inline-block;
}

.form {
  display: block;
}

.form-title {
  line-height: 18px;
  font-size: 15px;
  margin-bottom: 16px;
  padding: 0px;
}

.form-title_uppercase {
  margin-top: 11px;
  font-size: 15px;
}

.form__input {
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: 47px;
  display: block;
  margin: auto;
  margin-bottom: 13px;
  flex-basis: 60%;
  padding-left: 10px;
}

.form-small {
  font-size: 13px;
  margin-left: 0px;
}

.button_big {
  margin-left: 30px;
  width: 180px;
  height: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 0;
  padding-bottom: 3px;
}

.popup {
  width: 400px;
}

.popup-title {
  font-size: 16px;
}

.popup-form {
  padding: 5px;
}

.popup-form-header {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.2;
}

.popup-form__label {
  margin-top: 10px;
  font-size: 14px;
}

.popup-form__input {
  margin-bottom: 10px;
  width: 90%;
}

.popup-form__btn {
  margin-left: 0;
}

.popup-form__note {
  font-size: 12px;
  margin-bottom: 5px;
}

.popup-form__input {
  padding-left: 28%;
}

.header__contacts__button {
  display: inline-block;
  padding: 6px;
  height: 46px;
}  

.button_big {
  transform: translate(-15px,0);
}

.iphone {
  line-height: 14px;
  font-size: 14px;
}

.features {
  background-color: #f4f4f4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.numbers{
  text-align: center;
  margin-bottom: 15px;
}

.title-centr {
  margin-right: 20px;
  margin-left: 20px;
}

.numbers-block{
  margin: 0 auto;
  display: block;
  width: 80%;
  vertical-align: top;
  margin-bottom: 30px;
}
}

@media (min-width: 576px ) and (max-width: 768px) {
.numbers-block__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 900;
  color: #f39003;
}

sup {
  font-size: 12px;
}

.numbers-block__text {
  font-size: 14px;
  font-weight: 300;
}

.features-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

}

@media (min-width: 576px ) and (max-width: 768px) {
.features-block{
  display: flex;
  flex-basis: 45%;
  background-color: #ffffff;
  padding: 28px 10px;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.features-block__img {
  flex-basis: 40%;
  margin-right: 5px;
}
    
.products {
  padding-top: 30px;
  padding-bottom: 20px;
}

.products-block {
  text-align: center;
  margin-bottom: 20px;
}

.products-block__img{
  margin-bottom: 19px;
  max-height: 178px;
  max-width: 270px;
}

.products-block__title {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.button-o {
  background-color: transparent;
  color: #373737;
  opacity: 0.5;
  border: 1px solid #373737;
}

.button-o:hover {
  background-color: #ff9d00;
  border: 1px solid transparent;
  cursor: pointer;
}

.products-block__buttons {
  margin-right: 12px;
  font-size: 10px;
}

.button-min {
  font-size: 10px;
}

.section-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.section-title::after {
  margin-top: 10px;
  content: '';
  display: block;
  width: 46px;
  height: 6px;
  background: url(../img/products/line.png) center no-repeat;
}
    
.clients-blocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container {
  display:flex-inline;
}

.client-fons {
  display: flex;
  justify-content: center;
  width: 190px;
  height: 120px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  margin-bottom: 20px;
}

.client-img {
  display: flex;
  align-items: center;
}

.button:hover {
  background-color: none;
  cursor: pointer;
}

.header__contacts__phone:hover {
  color: none;
}

.logo::after {
  content: "";
  position: none;
  width: 0;
  height: 0;
  margin-left: 0;
  margin-top: 0;
  background: none;
}

.button-o:hover {
  background-color: none;
  border: none;
  cursor: pointer;
}

.section-title::after {
  margin-top: 0;
  content: '';
  display: none;
  width: 0;
  height: 0;
  background: none;
}

.flex-container {
  display:flex-inline;
  filter: grayscale(0%);
}

.flex-container:hover {
  filter: none;
}

.production-slider__top img {
  height: 300px;
  overflow-y: hidden;
  
}

.feedback-slider__item {
  margin: 0;
}

}



@media (min-width: 576px ) and (max-width: 768px) {
.header-menu{
  display: none;
}  
.production-slider__top{
  margin-bottom: 13px;
  width: 75%;
  overflow-y: hidden;
}

.feedback-slider {
  width: 300px;
  margin: 0 auto;
}

.production-slider__bottom.slick-initialized.slick-slider {
  display: none;
}

.pro {
  display: flex;
  flex-direction: column;
}

.bra {
  display: flex;
  order: 5;
  justify-content: center;
  margin: 0 auto;
}

.bro {
  display: flex;
  order: -5;
  justify-content: center;
  margin: 0 auto;
}

.production-text__title {
  width: 100vw;
  padding-right: 0px;
  transform: translateX(0px); 
}

.production-text__descr {
  margin-bottom: 20px;
  max-width: none;
  width: 70vw;
  margin-left: 15%;
      
  }
.production-text {

}
.slider-arrow {
  position: absolute;
  top: 0;
  height: 79px;
  width: 22px;
}

.slider-arrow__prod {
  border: 1px solid #ff9d00;
}
        
.slider-arrow__right {
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  right: 0;
  background: #ff9d00 url(../img/arrow-right__active.png) center no-repeat;
}

.slider-arrow__left {
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  left: 0;
  background: #ff9d00 url(../img/arrow-left__active.png) center no-repeat;
}

.slider-arrow__feedback__left {
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  left: -10px;
  background: #ff9d00 url(../img/arrow-left__active.png) center no-repeat;
}

.slider-arrow__feedback__left:hover {
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  left: -10px;
  background: #ff9d00 url(../img/arrow-left__active.png) center no-repeat;
}
          
.slider-arrow__feedback__right{
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  right: -10px;
  background: #ff9d00 url(../img/arrow-right__active.png) center no-repeat;
}

.slider-arrow__feedback__right:hover {
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  right: -10px;
  background: #ff9d00 url(../img/arrow-right__active.png) center no-repeat;
}

.slider-arrow:hover {
  cursor: pointer;
}
.offer-title {
    font-size: 22px;
    font-weight: 400;
    margin-top: 45px;
}

.offer-title__small {
    font-size: 20px;
    display: block;
}

.offer-form__label {
    font-size: 16px;
    font-weight: 300;
    display: block;
    margin-bottom: 17px;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts-block {
  order: -5;
  text-align: center;
  position: static; 
  left: 10%;
  top: 10%;
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 10px;
}

.contacts-block__text {
  margin-bottom: 10px;
}
.map-icon {
  display: none;
}
.map-contact {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
}

.map-title {
  transform: translateX(0%);
}
.map-title__text {
  transform: translateX(0%);
}

.map-hovr {
  transform: translateX(0%);
}

}
@media(max-width: 576px) {
.header-menu{
  display: none;
}  
.header {
  margin: 0px;
  padding: 8px 0px 8px 0px;
}

.header-logo {
  background: url(../img/header-logo__mobile.png) center no-repeat;
  width: 35px;
  height: 35px;
  background-color: #ff9d00;
  border-radius: 4px;
  display: inline-block;
  margin-left: 50px;
}

.header__contacts__phones {
  flex-direction: column;
}

.header__contacts__phone {
  font-size: 14px;
  margin-right: 10px;
  border: none;
}

.header__contacts__phone:hover {
  color: #ff9d00;
}

.phone-1 {
  padding-right: 0;
}

.hiden-mobile {
  display: none;
}

.hiden-mobiles {
  display: none;
}

.header__contacts__button {
  background: #fd9c28 url(..//img/phone.png) center no-repeat;
  display: inline-block;
  padding: 9px;
  width: 32px;
  height: 32px;
}

.phone-img {
  display: none;
}

.header__contacts__button:hover {
  background-color: #fda841;
  cursor: pointer;
}

.main {
  text-align: center;
  padding-top: 50px;
  height: 440px;
}

.main-text__title {
  font-size: 22px;
  color: #ff9d00;
  line-height: 24px;
  margin-bottom: 7px;
}

.main-text__subtitle {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 40px;
}

.main-text_form {
  background-color: transparent;
  padding: 0;
}

.form {
  display: block;
}

.form-title {
  line-height: 18px;
  padding-right: 0px;
  font-size: 15px;
  margin-bottom: 16px;
  height: 75px;
}

.form-title_uppercase {
  margin-top: 11px;
  font-size: 15px;
}

.form__input {
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: 47px;
  display: block;
  margin: auto;
  margin-bottom: 13px;
}

.form-small {
  margin-left: 0;
  font-size: 13px;
}

.button_big {
  width: 180px;
  height: 51px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 0;
  padding-bottom: 3px;
}

.popup {
  width: 250px;
}

.popup-title {
  font-size: 16px;
}

.popup-form {
  padding: 5px;
}

.popup-form-header {
  margin-top: 5px;
  font-size: 16px;
  line-height: 1.2;
}

.popup-form__label {
  margin-top: 10px;
  font-size: 14px;
}

.popup-form__input {
  margin-bottom: 10px;
  width: 90%;
}

.popup-form__btn {
  margin-left: 0;
}

.popup-form__note {
  font-size: 12px;
  margin-bottom: 5px;
}

.fatty {
  font-weight: 600;
}

.popup-form__input {
  padding-left: 40px; 
}

.features {
  background-color: #f4f4f4;
  padding-top: 15px;
  padding-bottom: 15px;
}

.numbers {
  text-align: center;
  margin-bottom: 15px;
}

.title-centr {
  margin-right: 20px;
  margin-left: 20px;
}

}

@media(max-width: 576px) {
.numbers-block{
  margin: 0 auto;
  display: block;
  width: 85%;
  vertical-align: top;
  margin-bottom: 15px;
}

.numbers-block__title {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 900;
  color: #f39003;
}

sup {
  font-size: 12px;
}

.numbers-block__text {
  font-size: 14px;
  font-weight: 300;
}

.features-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.features-block{
  display: flex;
  flex-basis: 80%;
  background-color: #ffffff;
  padding: 28px 10px;
  margin-right: 0px;
  margin-bottom: 8px;
  text-align: justify;
}

.features-block__img {
  flex-basis: 40%;
  margin-right: 5px;
}
      
.products {
  padding-top: 30px;
  padding-bottom: 20px;
}

.products-block {
  text-align: center;
  margin-bottom: 20px;
}

.products-block__img{
  margin-bottom: 19px;
  max-height: 178px;
  max-width: 270px;
}

.products-block__title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}

.button-o {
  background-color: transparent;
  color: #373737;
  opacity: 0.5;
  border: 1px solid #373737;
}

.button-o:hover {
  background-color: #ff9d00;
  border: 1px solid transparent;
  cursor: pointer;
}

.products-block__buttons {
  margin-right: 12px;
  font-size: 10px;
}

.button-min {
  font-size: 10px;
}

.section-title {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.section-title::after {
  margin-top: 10px;
  content: '';
  display: block;
  width: 46px;
  height: 6px;
  background: url(../img/products/line.png) center no-repeat;
}

.clients-blocs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container {
  display:flex-inline;
}

.client-fons {
  display: flex;
  justify-content: center;
  width: 135px;
  height: 85px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 5px;
  margin-bottom: 3px;
}

.client-img {
  display: flex;
  vertical-align: middle;
  align-items: center;
}
        
.cli-img{
  max-width: 90px;
  max-height: 70px;
}

.button:hover {
  background-color: none;
  cursor: pointer;
}

.header__contacts__phone:hover {
  color: none;
}

.logo::after {
  content: "";
  position: none;
  width: 0;
  height: 0;
  margin-left: 0;
  margin-top: 0;
  background: none;
}

.button-o:hover {
  background-color: none;
  border: none;
  cursor: pointer;
}

.section-title::after {
  margin-top: 0;
  content: '';
  display: none;
  width: 0;
  height: 0;
  background: none;
}

}

@media(max-width: 576px) {
.flex-container {
  display:flex-inline;
  filter: grayscale(0%);
}

.flex-container:hover {
  filter: none;
}

.feedback-slider {
  width: 250px;
  margin: 0 auto;
}

.production-slider__bottom.slick-initialized.slick-slider {
  display: none;
}

.pro {
  display: flex;
  flex-direction: column;
}

.bra {
  display: flex;
  order: 5;
  justify-content: center;
}

.bro {
  display: flex;
  order: -5;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
}

.production-text__title {
  text-transform: uppercase;
  width: 100vw;
  padding-right: 0px;
  transform: translateX(0px); 
}

.production-text__title {
  font-size: 20px;
}


.production-text__descr {
  font-size: 13px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 20px;
  max-width: none;
  width: 90vw;
  margin-left: 5%;
  text-align: center;
}

.slider-arrow {
  position: absolute;
  top: 0;
  height: 79px;
  width: 22px;
}

.slider-arrow__prod {
  border: 1px solid #ff9d00;
}
              
.slider-arrow__right {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: 0;
  background: #ff9d00 url(../img/arrow-right__active.png) center no-repeat;
}

.slider-arrow__left {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: 0;
  background: #ff9d00 url(../img/arrow-left__active.png) center no-repeat;
}

.slider-arrow__feedback__left {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: -10px;
  background: #ff9d00 url(../img/arrow-left__active.png) center no-repeat;
}

.slider-arrow__feedback__left:hover {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  left: -10px;
  background: #ff9d00 url(../img/arrow-left__active.png) center no-repeat;
}
         
.slider-arrow__feedback__right{
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: -10px;
  background: #ff9d00 url(../img/arrow-right__active.png) center no-repeat;
}

.slider-arrow__feedback__right:hover {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  right: -10px;
  background: #ff9d00 url(../img/arrow-right__active.png) center no-repeat;
}

.slider-arrow:hover {
  cursor: pointer;
}
.feedback-slider__item {
  margin: 0;
}
.production{
  padding-bottom: 0px;
  padding-top: 18px;
}
}


@media(max-width: 576px) {
.offer {
  position: relative;
  padding-top: 64px;
  padding-bottom: 69px;
  color: #ffffff;
  background: grey url(../img/offer/offer-bg.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;
  text-align: center;
}

.offer::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  background-size: cover; 
  z-index: -1;
}

.offer-title{
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.offer-title__small {
  font-size: 16px;
  font-weight: 400;
  display: block;
}

.offer-form__label {
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  display: block;
  margin-bottom: 17px;
}

.offer-form__input {
  display: block;
  margin: auto;
  margin-bottom: 12px;
  vertical-align: middle;
  outline: none;
  padding: 20px;
  border-radius: 4px;
  border: none;
  width: 100%;
  max-width: 365px;
  text-align: center; 
}

.offer-form__botton {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 9px;
  width: 180px;
  height: 51px;
}

.menu-link {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0,0,0, 0.4);
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 22;
}

.menu-span, .menu-span:before, .menu-span:after {
  display: block;
  height: 2px;
  width: 18px;
  background-color: #333;
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -1px;
}

.menu-span:before {
  transition: all 0,2s;
  content: '';
  margin-top: -6px;
}

.menu-span:after {
  transition: all 0,2s;
  content: '';
  margin-top: 4px;
}

.menu-link__active span {
  background-color: transparent;
}

.menu-link__active span:before {
  transform: rotate(135deg);
  margin-top: 0;
}

.menu-link__active span:after {
  transform: rotate(-135deg);
  margin-top: 0;
}

.menu {
  background-color: purple;
  position: fixed;
  opacity: 0.9;
  width: 100vw;
  height: 100%;
  z-index: 20;
  display: flex;
  justify-content: center;
  left: -100vw;
  transition: all 1,2s;
  padding-top: 10%;
  font-size: 14px;
  
}

.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu li {
  width: 100vw;
}

.menu a {
  display: block;
  width: 100%;
  line-height: 4;
  color: #fff;
  font-weight: 100;
  letter-spacing: 5px;
  transition: all 0.5s;
}

.menu a:hover {
  display: block;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.4);
  text-decoration: none;
  
}

.menu_active {
  left: 0;
}

.production-slider__top img{
  max-height: none;
  min-height: 218px;
}
}
   
@media (max-width: 576px) {
  .menu-link {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.4);
    position: fixed;
    top: 2px;
    left: 9px;
    z-index: 22;
  }

  .menu-span, .menu-span:before, .menu-span:after {
    display: block;
    height: 2px;
    width: 18px;
    background-color: #333;
    position: absolute;
    left: 50%;
    margin-left: -9px;
    top: 50%;
    margin-top: -1px;
  }

  .menu-span:before {
    transition: all 0,2s;
    content: '';
    margin-top: -6px;
  }

  .menu-span:after {
    transition: all 0,2s;
    content: '';
    margin-top: 4px;
  }

  .menu-link__active span {
    background-color: transparent;
  }

  .menu-link__active span:before {
    transform: rotate(135deg);
    margin-top: 0;
  }

  .menu-link__active span:after {
    transform: rotate(-135deg);
    margin-top: 0;
  }

  .menu {
    background-color: #ff9d00;
    position: fixed;
    opacity: 0.9;
    width: 100vw;
    height: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    left: -100vw;
    transition: all 1,2s;
    padding-top: 10%;
    
  }

  .menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .menu li {
    width: 100vw;
  }

  .menu a {
    display: block;
    width: 100%;
    line-height: 4;
    color: #fff;
    font-weight: 100;
    letter-spacing: 5px;
    transition: all 0,2s;
  }

  .menu a:hover {
    display: block;
    width: 100vw;
    background-color: rgb(255, 255, 255, 0.4);
    text-decoration: none;
    
  }

  .menu_active {
    left: 0;
  }

 .features-block__descr {
     font-size: 12px;
     font-weight: 400;
 }
 .production-slider__top{
   width: 95%;
   overflow-y: hidden;
 }
  .contacts {
    display: flex;
    flex-direction: column;
  }

  .contacts-block {
   order: -5; 
   text-align: center;
   position: static;
   left: 10%;
   top: 10%;
   background-color: #fff;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 15px;
   padding-right: 10px;
 }

 .contacts-block__text {
   margin-bottom: 10px;
 }

.footer-text{
  font-size: 11px;
}
.map {
  width: 90%;
  height: 420px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.map-icon {
  display: none;
}
.map-contact {
  display: inline-block;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
}

.map-title {
  transform: translateX(0%);
}
.map-title__text {
  transform: translateX(0%);
}

.map-hovr {
  transform: translateX(0%);
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}
.map-title__text {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}


}



 


  


